page-verify-number {

}

#verification-code-item {
    width: 40%;
    padding: 0;
    padding-top: 1%;
}

#verification-code-item > .item-inner {
    padding: 0;
}

#verification-code-wrapper { 
    padding: 0;
    padding-bottom: 3%;
    border-bottom: 1px solid #0288d1 !important;
}

#verification-code-wrapper,
#verification-code-wrapper > .item-inner,
#verification-code-wrapper > .item-inner > .input-wrapper {
    min-height: 20px;
}

#verification-code-wrapper > .item-inner {
    padding: 0;
}

#verification-code > .text-input {
    width:67%;
    margin: 0;
}