page-home {

}

.welcome-message {
    color: #0288d1;
    margin-bottom: 5%;
}

#icon-wrapper {
    border: none !important;
    width: 80%;
    margin: 50% auto;
}

#icon-wrapper > .item-inner {
    border: none;
}

#icon {
    fill: #0288d1;
}

#continue {
    width: 70%;
    border: none !important;
    left: 15%;
    bottom: 1%;
    position: absolute;
}