<ion-header>
    <ion-navbar *ngIf='!search'>
        <ion-item id='title'>
            <ion-label>Choose a country</ion-label>
            <button ion-button clear large item-end id="search-country" (click)='search = true'>
                <ion-icon ios="ios-search" md="md-search" color="transchator"></ion-icon>
            </button>
        </ion-item>
    </ion-navbar>
    <ion-item *ngIf='search'>
        <ion-input placeholder='Search countries'></ion-input>
    </ion-item>
</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item id='country' *ngFor='let country of countries' (click)='sendCountry(country)'>
            <h3>{{ country.name }}</h3>
            <p *ngIf='country.enName'>{{ country.enName }}</p>
            <h4 item-end>+{{ country.phoneCode }}</h4>
            <ion-icon *ngIf='country.phoneCode == selectedCountry.code' item-end small ios="ios-checkmark" md="md-checkmark" color="transchator"></ion-icon>
        </ion-item>
    </ion-list>

</ion-content>
