<ion-header>
        <ion-item id='title'>
            <ion-icon item-start
                ios="ios-arrow-back"
                md="md-arrow-back"
                color="transchator"
                (click)='back()'>
            </ion-icon>
            <ion-item item-end
                *ngIf='!search'
                id='country-search-title'>
                <ion-label
                    color="transchator">
                    Choose a country
                </ion-label>
                <ion-icon item-end
                    ios="ios-search"
                    md="md-search"
                    color="transchator"
                    (click)='startSearch()'>
                </ion-icon>
            </ion-item>

            <ion-item item-end
                *ngIf='search'
                id='country-search'>
                <ion-input type="text"
                    #searchChild
                    [(ngModel)]='searchString'
                    (keyup)='searchCountry()'
                    placeholder='Search countries'></ion-input>
            </ion-item>

        </ion-item>
</ion-header>


<ion-content padding id='countries'>
    <ion-list>
        <ion-item id='country' *ngFor='let country of countries' (click)='sendCountry(country)'>
            <h6>{{ country.name }}</h6>
            <p *ngIf='country.enName'>{{ country.enName }}</p>
            <h5 item-end>+{{ country.phoneCode }}</h5>
            <ion-icon item-end
                small
                *ngIf='country.name == selectedCountry.name'
                ios="ios-checkmark"
                md="md-checkmark"
                color="transchator"></ion-icon>
            <button item-end
                small
                *ngIf='country.name != selectedCountry.name'
                clear></button>
        </ion-item>

        <ion-item id='search-country-message' class='center' *ngIf='countries.length == 0'>
            <h3>No matches found</h3>
        </ion-item>
    </ion-list>

</ion-content>
